<p id="notice"><%= notice %></p>

<div class="blog-card">
  <b><h3>Title: <%= @blog.title %></h3></b><h4>Views: <%= @blog.impressionist_count(filter: :ip_address) %></h4><h5>Created at: <%= pretty_datetime(@blog.created_at) %></h5>
<hr>
  <%= @blog.content %>
<br><br>
  <%= link_to 'Edit', edit_blog_path(@blog), class: 'btn btn-primary' %> |
  <%= link_to 'Back', blogs_path, class: 'btn btn-primary' %>
</div>
