<div class="textColor">
<!-- <h1>Todos</h1> -->
<center><%= link_to 'New Todo', new_todo_path, class: 'btn btn-primary' %></center><hr>
<table class="table" id="tableback">
  <thead>
    <tr>
      <th scope="col">Sr. No</th>
      <th scope="col">Title</th>
      <th scope="col">Details</th>
      <th scope="col">Allocated To</th>
      <th scope="col" colspan="3">Action</th>
    </tr>
  </thead>

  <tbody>
    <% count = ((params[:page] || 1).to_i - 1) * 6
     @todos.each_with_index do |todo, index| %>
      <% unless todo.user.nil? %>
        <tr>
          <td><%= count + index + 1 %></td>
          <td><%= todo.title %></td>
          <td><%= todo.details %></td>
          <td><%= todo.user.email %></td>
          <td><%= link_to 'Show', todo, class: 'btn btn-primary' %></td>
          <td><%= link_to 'Edit', edit_todo_path(todo), class: 'btn btn-primary' %></td>
          <td><%= link_to 'Trash', todo, method: :delete, data: { confirm: 'Are you sure?', class: 'btn btn-primary' } %></td>
        </tr>
      <% end %>
    <% end %>
    <center><%= will_paginate @todos, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %></center>
  </tbody>
</table>
</div>
