<nav class="navbar navbar-default navbar-static-top navbar navbar-expand-lg justify-content-between">
  <a class="navbar-brand" href="">
    <img src="<%= image_url('project') %>" width="40" height="35" class="d-inline-block align-top" alt="">
  </a>
  <% if user_signed_in? %>
    <ul class="navbar-nav align-self-center">
      <li class="nav-item">
        <%= link_to "Home", projects_path, class: "nav-link"%>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Latest activity</a>
      </li>
      <li class="nav-item">
        <%= link_to "All To Do", todos_path, class: "nav-link"%>
      </li>
      <li class="nav-item">
        <%= link_to "To Do", new_todo_path, class: "nav-link"%>
      </li>
      <li class="nav-item">
        <%= link_to "Read Blogs", blogs_path, class: "nav-link"%>
      </li>
      <li class="nav-item">
        <%= link_to "Create Blog", new_blog_path, class: "nav-link"%>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Find</a>
      </li>
      <li class="nav-item">
        <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "nav-link"%>
      </li>
      <li class="nav-item navbar-profile-icon">
        <a class="nav-link" href="#"><%= current_user.email[0].upcase %></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Profile
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
  <% else %>
      <li class="nav-item">
        <%= link_to "Login", new_user_session_path, class: "nav-link"%>
      </li>
      <li class="nav-item">
        <%= link_to "Signup", new_user_registration_path, class: "nav-link"%>
      </li>
    </ul>
  <% end %>
</nav>
